.input-group.input-group-outline.focused .form-label {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.2s ease;
}

.input-group.input-group-outline .form-label {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s ease;
} 